.title-container {
    height: 80%;
    width: 100%;
    align-items: center;
    text-align: center;

}
.parrafo{
    color: aqua;
    background-color: black;
    height: 600px;
    font-size: 1.5rem;
    
}