.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    background-image: url('https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
    background-size: cover;
  }
  img {
    width: 30%;
    height: 30%;
  }
  .logo-container {
    padding-top: 3px;
    cursor: pointer;
  }
  
  .nav-container {
    display: flex;
    margin-left: 40%;
  }
  
  .nav-container li {
    margin: 0 10px;
    list-style: none;
  }
  
  .nav-container li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
  }